html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas{
    margin: 0 auto;
    height: 80%;
    width: 50%;
}

button{
    margin-top: 20px;
    height: 50px;
    width: 20%;
    border-radius: 8px;
}