*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(27,24,31);
    color: white;
    font-family: 'Roboto', sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

header h3{
    text-align: center;
    width: 70%;
    margin: auto;
    padding-top: 1rem;
}

.inputForm{
    display: flex;
    margin-top:1rem;
    background-color: rgb(17, 17, 88);
    width: 70%;
    height: 3rem;
    padding: 0.5rem;
    justify-content: space-around;
    border-radius: 0.5rem;
}

label{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

button, label{
    flex: 1;
}

input{
    flex: 3;
}

ul{
    margin-top: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

li{
    list-style-type: none;
    border-radius: 0.5rem;
    width: 60%;
    background-color: rgb(17, 17, 88);
    transition: 1s;
    text-align: center;
}

.expand p{
    line-height: 1.5rem;
}
.expand{
    padding: 1rem;
    
}
.expand:hover{
    background-color: rgb(8, 8, 145);
    cursor: pointer;
}

.hidden{
    display:none;
}

p{
    pointer-events: none;
}

